.dark-mode {
    background-color: $darker;
    color: $lighter;

    .navbar {
        background-color: rgba($darker, .9);
    }

    .navbar-nav {
        .nav-link {
            color: $light;

            &.active,
            &:hover {
                color: $white;
            }
        }
    }

    .text-muted {
        color: lighten($mid, 5%) !important;
    }

    hr {
        border-top-color: darken($darker, 3%);
    }

    .form-control {
        background-color: $dark;
        border: 0;
        color: $lighter;
    }

    .custom-switch {
        .custom-control-input {
            &:checked ~ .custom-control-label {
                &::after {
                    background-color: $darker;
                }
            }
        }
    }

    .input-group-text {
        color: $white;
        background-color: darken($darker, 3%);
        border: 0;
    }

    .popover-header {
        background-color: darken($darker, 3%);
        border: 0;

        &::before {
            border-color: transparent !important;
        }
    }

    .dropdown-menu {
        background-color: $darker;
        color: $lighter !important;

        .dropdown-item {
            color: $lighter;

            &:hover {
                background-color: darken($darker, 3%);
            }
        }
    }

    .popover-body {
        background-color: darken($darker, 3%);
        color: $lighter !important;
    }

    > .arrow::before {
        border-bottom-color: darken($darker, 3%);
    }

    > .arrow::after {
        border-bottom-color: darken($darker, 3%);
    }

    code {
        background-color: darken($darker, 3%);
        color: $danger;
        padding: .25rem .5rem;
        border-radius: $border-radius;
    }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba($black, .35) !important;
    }

    .share-icons {
        a {
            background-color: $dark;
        }
    }
}