@font-face {
    font-family: 'Tim Icons';
    src: url('../../font/tim-cutting.woff2');
    font-weight: normal;
    font-style: normal;
}

[class*="icon-"] {

    text-emphasis: none;
    font-family: 'Tim Icons';
    font-style: normal;

    &.size-1 {
        font-size: $font-size-base;
    }

    &.size-2 {
        font-size: $font-size-base * 2;
    }

    &.size-3 {
        font-size: $font-size-base * 3;
    }

    &.size-4 {
        font-size: $font-size-base * 4;
    }

    &.size-5 {
        font-size: $font-size-base * 5;
    }
}

$icons: (
    booststrap  : '\0030',
    github      : '\0031',
    html        : '\0032',
    react       : '\0033',
    sass        : '\0034',
    vscode      : '\0035',
    wordpress   : '\0036',
    javascript  : '\0037',
    gift        : '\0041',
    mail        : '\0042',
    phone       : '\0043',
    quote       : '\0044',
    tim         : '\0054'
);

@each $name, $char in $icons {
    .icon-#{$name}::before {
        content: $char;
    }
}