@font-face {
    font-family: 'Tim Icons';
    src: url('../../font/tim-cutting.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

[class*="icon-"] {

    text-emphasis: none;
    font-family: 'Tim Icons';
    font-style: normal;

    &.size-1 {
        font-size: $font-size-base;
    }

    &.size-2 {
        font-size: $font-size-base * 1.5;
    }

    &.size-3 {
        font-size: $font-size-base * 2;
    }

    &.size-4 {
        font-size: $font-size-base * 4;
    }

    &.size-5 {
        font-size: $font-size-base * 5;
    }

    &.size-10 {
        font-size: $font-size-base * 10;
    }

    &.circle-primary {
        background-image: radial-gradient(circle closest-side, $primary 0, $primary 97%, transparent 100%);
    }
}

$icons: (
    add         : '\002b',
    minus       : '\002d',
    shuffle     : '\0025',
    booststrap  : '\0030',
    github      : '\0031',
    html        : '\0032',
    react       : '\0033',
    sass        : '\0034',
    vscode      : '\0035',
    wordpress   : '\0036',
    javascript  : '\0037',
    gift        : '\0041',
    mail        : '\0042',
    phone       : '\0043',
    quote       : '\0044',
    sun         : '\0045',
    moon        : '\0046',
    pdf         : '\0047',
    document    : '\0048',
    info        : '\0049',
    tick-circle : '\004a',
    attention   : '\004b',
    down-clock  : '\004c',
    paint       : '\004d',
    password    : '\004e',
    tim         : '\0054'
);

@each $name, $char in $icons {
    .icon-#{$name}::before {
        content: $char;
    }
}

.brand-logo {
    height: 1.5rem;
    margin: 1rem 0;
}