@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Raleway:wght@300&display=swap');

@import "./Assets/scss/variables/bootstrap-vars";

@import "~bootstrap/scss/bootstrap";

@import "./Assets/scss/mixins/mixins";

@import "./Assets/scss/partials/typography";
@import './Assets/scss/partials/icons';
@import "./Assets/scss/components/BlockQuote";
@import './Assets/scss/components/BrandLogos';
@import './Assets/scss/components/Contrast';
@import './Assets/scss/partials/dark-mode';

@import './Assets/scss/components/Header';

// Pages
@import './Assets/scss/Pages/Home';

// Layout
html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: rgba($white, .8);
    backdrop-filter: blur(.25rem);
    -webkit-backdrop-filter: blur(.25rem);
}
.app {
    min-height: 100vh;
    scroll-behavior: smooth;

    .content {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    main {
        display: flex;
        flex-direction: column;
        flex: 1;
        scroll-behavior: smooth;
        min-height: calc(100vh - 76px);

        section {
            margin-top: 6rem;
            margin-bottom: 6rem;
        }
    }
}

.dropdown-toggle {
    border-radius: 0 .33rem .33rem 0 !important;
}

code {
    background-color: lighten($lighter, 5%);
    border-radius: $border-radius;
    padding: .25rem .5rem;
}

.cursor-pointer {
    cursor: pointer;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $dark;
  -webkit-text-fill-color: $white;
  -webkit-box-shadow: 0 0 0px 1000px $darker inset;
  transition: background-color 5000s ease-in-out 0s;
}